@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --t1-yellow: #ff0;
}

.t1-bg-yellow {
  background-color: var(--t1-yellow);
}

.t1-text-yellow {
  color: var(--t1-yellow);
}

body {
  background-color: var(--t1-yellow);
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* twemoji */
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
